<!-- <ion-header>
  <ion-toolbar>
    <ion-title>fab</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header titulo="Fab"></app-header>

<ion-content>
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!--aqui agregamos los botoes con los logos-->
    <ion-fab-list side="top">
    
      <ion-fab-button><ion-icon name="logo-facebook" ></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/alert" ><ion-icon name="logo-laravel" color="laravel"></ion-icon></ion-fab-button>
      <ion-fab-button ><ion-icon name="logo-ionic" color="ionic"></ion-icon></ion-fab-button>

  
  
    </ion-fab-list>

    <!-- para que se despiegue la izquierda-->
    <ion-fab-list side="start">
    
      <ion-fab-button><ion-icon name="logo-vimeo" ></ion-icon></ion-fab-button>
      <ion-fab-button routerLink="/alert"><ion-icon name="logo-github" ></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-angular"></ion-icon></ion-fab-button>

  
  
    </ion-fab-list>

  </ion-fab>


 

  <ion-list>
    <ion-item *ngFor="let item of data; let i=index">item {{i+1}}</ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Este es el footer</ion-title>
  </ion-toolbar>
</ion-footer>