<!--<ion-header>
  <ion-toolbar>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>-->
<app-header titulo="Card view"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      
      <ion-card-title >Card Title</ion-card-title>
      <ion-card-subtitle >Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-item color="primary">
      <ion-icon  slot="start" name="desktop-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
     
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum, dicta numquam repellendus impedit dignissimos ab magni corporis officia aliquid eaque. Quos odio obcaecati totam explicabo illo beatae vero laudantium quae?
    </ion-card-content>

  </ion-card>


  <ion-card>
    
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, sequi, aperiam placeat corrupti corporis hic in libero vero alias ad dolorum
       odit repellat 
       molestiae omnis! Repudiandae aliquam provident voluptatum fugiat?</ion-card-content>
  </ion-card>
   
</ion-content>
